@using BobCrm.App.Models
@namespace BobCrm.App.Components.Shared

@* 重构后的多语言输入组件 - 使用 Ant Design Dropdown *@
<Dropdown @bind-Visible="_isExpanded"
          Trigger="@(new[] { Trigger.Click })"
          OnVisibleChange="HandleVisibleChange"
          OverlayClassName="multilingual-dropdown-overlay">
    <ChildContent>
        <div class="multilingual-trigger" @ref="_triggerElement">
            <Input Value="@GetDefaultValue()"
                   ReadOnly="true"
                   Placeholder="@GetDefaultPlaceholder()"
                   Class="field-control"
                   Suffix="@GetSuffixTemplate()" />
        </div>
    </ChildContent>
    <Overlay>
        @RenderOverlay()
    </Overlay>
</Dropdown>
