@using BobCrm.App.Models
@namespace BobCrm.App.Components.Shared

@* 重构后的多语言输入组件 - 使用 Ant Design Dropdown *@
<Dropdown Visible="@_isExpanded"
          VisibleChange="HandleVisibleChange"
          Trigger="@(new[] { Trigger.Click })"
          OverlayClassName="multilingual-dropdown-overlay">
    <ChildContent>
        <div class="multilingual-trigger" @ref="_triggerElement">
            <div class="trigger-wrapper">
                <Input Value="@GetDefaultValue()"
                       ReadOnly="true"
                       Placeholder="@GetDefaultPlaceholder()"
                       Class="field-control trigger-input" />
                <span class="trigger-icons">
                    <Icon Type="global" Style="color: #1890ff;" />
                    <Icon Type="@(_isExpanded ? "up" : "down")" Style="font-size: 10px;" />
                </span>
            </div>
        </div>
    </ChildContent>
    <Overlay>
        @RenderOverlay()
    </Overlay>
</Dropdown>
